
.inputs-values {
  border: 1px dotted black;
  padding: 1rem;
  margin-bottom: 2rem;
}
.person {
  margin: 1rem;
  input {
    margin-right: 1rem;
  }
}
.form-group {
  border: 1px dotted black;
  margin: 1rem;
  padding: 1rem;
}

