<form class="form-container" [formGroup]="myForm">
  <div class="inputs-values">value : {{ myForm.value | json }}</div>
  <div class="person">
    <input type="text" placeholder="First Name" formControlName="firstName">

    <input type="text" placeholder="Last Name" formControlName="lastName">

    <input type="number" formControlName="age">
  </div>
  <div class="phones" formArrayName="phones">
    <div *ngFor="let phone of phoneForms.controls; let i=index" [formGroupName]="i">
      <input type="tel" formControlName="number" placeholder="Phone number">
      <button (click)="deletePhone(i)" [disabled]=isDeleteButtonDis>Delete</button>
    </div>
  </div>
  <button (click)="addPhone()">Add phone number</button>
</form>
