<code>values: {{this.myForm.value.users | json}}</code>
<hr>
<form class="form-container" [formGroup]="myForm">
  <button (click)="addFormGroup()" class="btn btn-green">Add new form group</button>
  <div formArrayName="users">
    <div *ngFor="let form of formGroup.controls; let idx=index" [formGroupName]="idx" class="form-group">
      <div class="person">
        <input type="text" placeholder="First Name" formControlName="firstName">

        <input type="text" placeholder="Last Name" formControlName="lastName">

        <input type="number" formControlName="age">

        <input type="tel" formControlName="number" placeholder="Phone number">
      </div>
      <button (click)="deleteFormGroup(idx)" class="btn btn-delete" [disabled]="isDeleteButtonDisabled">Delete this form group</button>
    </div>
  </div>
</form>
