<div class="btn-wrapper"><button (click)="addFormGroup()" class="btn btn-green">Add new form group</button></div>
<form class="form-container" [formGroup]="myForm">
  <div formArrayName="users">
      <div *ngFor="let form of this.formGroup.controls; let idx=index" [formGroupName]="idx">
        <app-form (formValues)="formGroupController($event, idx)"
        >
        </app-form>
        <button (click)="deleteFormGroup(idx)" class="btn btn-delete">Delete this form group</button>
        <code>{{this.formValues.value | json}}</code>
      </div>
  </div>
</form>


